---
titie: '地獄のHTML5機能テスト'
---


.indexWelcome
  h1.indexWelcome__title HTML5の機能テスト


  section.case-section

    h1.case-section__title Web Workers
    .case-navigation
      ul
        li.case-navigation__item: a href='pages/worker/workertest2.html'
          .case-cell
            h1.case-cell__title Bouze氏のXHRプリローダーテスト
            p.case-cell__description Workerで大量の画像をロードする。UIスレッドが止まらないのを確認する。
        li.case-navigation__item: a href='pages/worker/workertest.html'
          .case-cell
            h1.case-cell__title Workerの基礎
            p.case-navigation__description Workerの基本的な動作を確認する
